
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2018 Built by TJ Stubbs
           <a href="" target="_blank" ></a>
      </p>

      <a href="" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span> Foootie</a>
    </div>
  </div>
<script type="text/javascript" src="./scripts/auth-script.js"></script>
</body>
</html>
