
<div class="panel ">
  <div class="panel-body"></div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2018 Built by TJ Stubbs
           <a href="" target="_blank" ></a>
      </p>

      <a href="https://www.linkedin.com/in/tj-stubbs/" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>Find Me on LinkedIn</a>
    </div>
  </div>
</body>
</html>
