<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/blog">TJ's Cool Blog</a>
    </div>
    <div class="collapse navbar-collapse dropdown-toggle" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/blog">Home</a></li>
        <li><a href="/blog/new">Create</a></li>
        <li><a href="/author">Authors</a></li>
        <li><a href="/api/search">News</a></li>
        <li><a href="/photo">Photos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
 <li>
   <a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
 </li>
      </ul>
    </div>
  </div>
</nav>
