<% include ../partials/head.ejs %>
<% include ../partials/nav.ejs %>
<h1>Add a new author</h1>

<form action="/author" method="POST">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" />

  <br />

  <input type="submit" value="Create!" />
</form>

<a href="/author">Cancel</a>





<% include ../partials/end.ejs %>
